


<p>Name: <%= @specialist.firstname %> </ br><%= @specialist.lastname %></p>
   <p>Spécialité <%= @specialist.profession %> </p>
   <p>A propos: <%= @specialist.description %> </p>
   <p>Note: <%= @specialist.rating %> </p>
   <%= @specialist.category.name %>
<% if @specialist.photos.attached? %>
<% @specialist.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>               
<% end %>
<% end %>

<%= link_to "Prendre rendez vous", new_category_specialist_consultation_path(@category, @specialist), class: "btn btn-flat" %>
<%# <%= render 'consultations/form_consult' %> 