<h1>Votre rendez vous</h1>

<div class = "col-4">
<% @consultations.each do |consultation| %>
<% specialist = Specialist.find(consultation.specialist_id) %>
Avec :
<%= specialist.lastname %>
<%= specialist.firstname %>
<% if specialist.photos.attached? %>
            <%= image_tag specialist.photos[0] %>
            <%# <p> <%= link_to specialist.name, specialist_path(specialist) %></p> 
             

              <% else %>

             <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
          rgba(0,0,0,0.3)), url('https://www.businessnhmagazine.com/UploadedFiles/Articles/8151/66581491_m.jpg')">
            <%# <p> <%= link_to specialist.name, specialist_path(specialist) %></p> %>

             </div>

 <% end %>
<br>
Date de consultation :
<%= consultation.date %><br/>
Heure :
<%= consultation.hour %><br/>

<%# <%= link_to "Annuler cette reservation", consultation_path(consultation), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ?" } %> 
<br>
<% end %>
</div>

