<h1 class="text-center">Réservez votre rendez vous</h1>


<div class = "container">
  <div class = "row">
    <div class = "col-md-4 offset-md-4">
      <%# <%= simple_form_for @consultation, url: category_specialist_consultations_path do |f|   %> 
      <%= simple_form_for [@category, @specialist, @consultation] do |f|   %>
   
        <%= f.input :date, as: :date, label: "Date" %>
        <%= f.input :hour, as: :time, label: "Horaire" %>
        <%= f.button :submit, "Je prends rendez vous immédiatement !!!", class: "btn btn-flat" %> 
      <% end %>
    </div>
  </div>
</div>
