<h1>Categories#new</h1>


  <div class = "row">
    <div class = "col-4">
      <%= simple_form_for(@category) do |f| %>
        <%= f.input :name, label: "Nom" %>
        <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 6 } %>
        
        <%= f.input :photo, as: :file, label: "Ajoutez une photo" %>
        <%= f.button :submit, "Mettre en location", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
