

<div class="container">
  <h1 class="text-center"><%= @category.name %></h1>


  <div class="specialist-container">
  <% @category.specialists.each do |specialist|  %>

    <% if specialist.photos.attached? %>
    <div class="avatar-specialist">
      <%= link_to category_specialist_path(@category, specialist) do %>
        <%= image_tag specialist.photos[0]  %>
        <div class="specialist-name"><%= specialist.firstname %> <%= specialist.lastname %> </div>
        
      <% end %>            
    <% end%>
    </div>
  <% end%>
  </div>

</div>
<%# <% end %> 







  

 