

<div class="container">
  <h1 class="text-center"><%= @category.name %></h1>
 
  <%n=0 %>
  <div class="specialist-container">
  <% @category.specialists.each do |specialist|  %>
    <%n = n+1 %>
    <% if specialist.photos.attached? %> 
      
        <div class="avatar-specialist" id=<%= n %>>
          <%# <%= link_to category_specialist_path(@category, specialist) do %>
            <%= image_tag specialist.photos[0]  %>
              <div class="specialist-name">
                <%= specialist.firstname %> <%= specialist.lastname %>
              </div>
          <%# <% end %> 
        </div>
    <% end%>
    
  <div class="specialist-pannel"id="spe<%= n %>">
        <%= image_tag specialist.photos[1]  %><br />
        <h2><%= specialist.firstname %> <%= specialist.lastname %><br /></h2>
        <%= specialist.profession %> <br />
        <div class="specialist-description"><%= specialist.description %> </div>
    <%= link_to "Prendre rendez vous", new_category_specialist_consultation_path(@category,specialist), class: "btn btn-flat" %>

  </div>

  <% end%>

  </div>

</div>
 







  

 